:root
{
    --cor-de-fundo: #f5f5f5;
    --preto: #000000;
    --branco: #ffffff;
    --botão-ativo: #a020f0;
    --botão-inativo: #ff00ff;
    --texto-fundo: #87cefa;
    --cor-borda: #000000;
}
.conteudo-principal {

}