:root
{
    --cor-de-fundo: #f5f5f5;
    --preto: #000000;
    --branco: #ffffff;
    --botão-ativo: #a020f0;
    --botão-inativo: #ff00ff;
    --texto-fundo: #87cefa;
    --cor-borda: #000000;
}
.conteudo-principal {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
max-width: 1200px;
width: 100%;
margin: 0 auto;
}
.titulo-principal {
    text-align: center;
    width: 100%;
    font-size: 32px;
    color: var(--preto);
}
.titulo-principal span {
    color: var(--verde);
}
.botao {
    background-color: var(--botão-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--cor-borda);
    border-left: 2px solid var(--cor-borda);
    border-right: 2px solid var(--cor-borda);
    border-top: 4px solid var(--cor-borda);
}
.botoes {
    display: block;
}
.botao:first-child {
    border-radius: 40px 40px 0 0;
    border-left: 4px solid var(--cor-borda);
}

